<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type='text/javascript'></script>
    {%load static%}
    <script src="{%static 'js/login.js'%}"></script>
    <link rel="stylesheet" href="{%static 'styles/login_style.css'%}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.transit/0.9.12/jquery.transit.min.js" integrity="sha512-ueXKWOB9liraz677EVGxz6H8nLk3RJjNv8Bfc0WrO9K9NyxROX3D/6bvZ9RYvAcYFxsVU+I0Jt/AMK0Nk8ya5g==" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div class="main">
        <div class="imgWrapper">
            <img src="{%static 'images/phone.png'%}" alt="Phone">
        </div>
        <div class="login">
            <h1>Face Detection</h1>
            <span id='desc'><h2>A sample app to allow login face authentication in any project</h2></span>
            <form class='signIn' action="/process_login" method="post">
                {%csrf_token%}
                <h2>Sign in</h2>
                <span id='post_login_email'>Email:</span>
                <input type="text" name='post_login_email'>

                <span id='post_login_password'>Password:</span>
                <input id='password' type="text" name='post_login_password'>
            
                <button id='submit' type="submit">Login</button>

                <div class='detect_error'>
                    <div>{{error}}</div>
                </div>
            </form>
            <div class="detect_button">
                <form action="/detect_face" method="post">
                    {%csrf_token%}
                    <button type="submit">Detect</button>
                </form>
                <p>By clicking the button, you're allowing this program to scan your face for possible system matches. Images aren't saved unless uploaded. Curious about how this project works? Visit my repository at <a href="https://github.com/nathan-roe/face_detection">https://github.com/nathan-roe/face_detection</a></p>
            </div>
        </div>
    </div>
    <div class="popup">
        {% if messages %}
        <ul class="messages">    
            {% for message in messages %}    
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</body>
</html>